body{
    font-family: 'Poppins';
    margin: 0;
}
h1, h2{
    font-size: 50px;
    margin: 0;
}
span{
    color: orange;
}
img{
    width: auto;
    border-radius: 50%;
    height: auto;
}
div{
    padding: 10%;
    margin: auto;
}
section{
    display: flex;
    padding: 0 5%;
    
}

.button-first{
    text-decoration: none;
    background-color: #ffa600bf;
    padding: 10px 40px;
    color:#000000;
    border-radius: 10px;
    display:inline-block;
    margin-top: 1em;
}
.bg{
    background-image: url(../img/abc.png);
    background-repeat: no-repeat;
    background-size: cover;
}